* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h3{
    font-size: 45px;
    font-weight: 900;
}
.orange{
   color: orange;
}
header{
    background-color: #fff8f3;
    padding-top: 50px;
    background: url("../images/developer.png"),url("../images/header_bg.png"),#fff8f3;
    background-position: top left , bottom right;
    background-repeat: no-repeat;
}
nav{
    width: 1140px;
    margin:0px auto;
    display:flex;
    justify-content: last space-between;
    align-items: center;
    
}
nav .menu{
    display:flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
 font-size: 20px
  color:#"474747";
  text-decoration:none;
  
}
.har p{
   text-align: justify;
}
.btn{ 
    background-color: orange;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    cursor: pointer;

}
#banner{
  
    margin:47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;

}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}
#banner .banner-image{
    max-width: 585px;
    vertical-align: middle;
}
